.float-button-container {
    position: relative;
  }
  
  .float-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }
  
  .action-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #2980b9;
  }
  
  .time-slot-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .time-slot-button:hover {
    background-color: #27ae60;
  }
  