/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import "./_tailwind.css";

/*
   |--------------------------------------------------------------------------
   | Fonts
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
@import "./_roboto.css";

/*
   |--------------------------------------------------------------------------
   | 3rd Party Libraries
   |--------------------------------------------------------------------------
   |
   | Import 3rd party library CSS files.
   |
   */
@import "simplebar/src/simplebar.css";
@import "dropzone/dist/dropzone.css";
@import "tabulator-tables/dist/css/tabulator.css";
@import "tom-select/dist/css/tom-select.css";
@import "zoom-vanilla.js/dist/zoom.css";
@import "toastify-js/src/toastify.css";
@import "highlight.js/styles/github.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/animations/shift-away.css";
@import "tiny-slider/dist/tiny-slider.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";

/*
   |--------------------------------------------------------------------------
   | Components
   |--------------------------------------------------------------------------
   |
   | Import CSS components.
   |
   */
@import "./components/_global.css";
@import "./components/_intro.css";
@import "./components/_zoom-in.css";
@import "./components/_image-fit.css";
@import "./components/_typing-dots.css";
@import "./components/_scrollbar-hidden.css";
@import "./components/_box.css";
@import "./components/_tiny-slider.css";
@import "./components/_tippy.css";
@import "./components/_toastify.css";
@import "./components/_zoom-vanilla.css";
@import "./components/_tom-select.css";
@import "./components/_ckeditor.css";
@import "./components/_litepicker.css";
@import "./components/_full-calendar.css";
@import "./components/_tabulator.css";


.full-calendar .fc-theme-standard .fc-scrollgrid, .full-calendar .fc-theme-standard th, .full-calendar .fc-theme-standard td, .full-calendar .fc-theme-standard .fc-list {
   border-color: rgba(153, 153, 153, 0.3);
   /* border: none !important; */
}
.fc-day-today {
   background: #FFF !important;
   border-color: black !important;
} 

.fc-scrollgrid-sync-inner{
   border-color: black !important;
   border-width: 1px;
}

.fc-timegrid-slot .fc-timegrid-slot-label .fc-timegrid-slot-minor{
   border-color: black !important;
   border-width: 1px;
}

.fc-direction-ltr .fc-timegrid-now-indicator-arrow {

   left: 0;
   
   border-width: 10px 22px 6px 11px;
   
   border-radius: 0px 10px 10px 0px;
   
   opacity: .7;
   
   }
   
   .fc .fc-timegrid-now-indicator-arrow {
   
   position: absolute;
   
   z-index: 0;
   
   margin-top: -10px;
   
   border-style: solid;
   
   border-color: #E45A74;
   
   }
   
   .fc .fc-timegrid-now-indicator-line {
   
   opacity: .7;
   
   position: absolute;
   
   z-index: 4;
   
   left: 0;
   
   right: 0;
   
   margin-top: -2px;
   
   border-style: solid;
   
   border-color: #E45A74;
   
   border-color: var( — fc-now-indicator-color,#F2CB05);
   
   border-width: 3px 0 0;
   
   }