.desktop-only {
    display: table-cell;
}

@media (max-width: 600px) {
    .desktop-only {
        display: none;
    }
}

.selected-row {
    background-color: lightblue; 
}


@media screen and (max-width: 767px) {
    :root {
      --is-mobile: true;
    }
  }
  
  @media screen and (min-width: 768px) {
    :root {
      --is-mobile: false;
    }
  }
  