/* BEGIN: Custom Flatpicker Theme */
.flatpickr-calendar {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    color: #333;
}

.flatpickr-day.selected {
    background-color: #007bff;
    color: #fff;
}

.flatpickr-day.today {
    background-color: #f0f0f0;
}

.flatpickr-monthDropdown-months {
    background-color: #f8f8f8;
}

.flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    color: #333;
}

.flatpickr-prev-month,
.flatpickr-next-month {
    color: #007bff;
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
    background-color: #007bff;
    color: #fff;
}

.flatpickr-prev-month:active,
.flatpickr-next-month:active {
    background-color: #0056b3;
    color: #fff;
}
/* END: Custom Flatpicker Theme */
